---
# You timezone
timezone: "Europe/Berlin"

# User pi's password.
# Need to be hashed as coming from 'mkpasswd'. Can be omitted, then the default password ('raspberry') is used
# user:
#  password: "<hashed password>"

# Default values

network:
  service_subnet: 10.200.100.0/24
  pod_subnet: 10.1.0.0/16
images:
  flannel: quay.io/coreos/flannel-git:v0.6.1-28-g5dde68d-arm
debug_level: 2
