[Unit]
Description=etcd Config Store
Documentation=https://github.com/coreos/etcd
After=network.target

[Service]
Environment=ETCD_UNSUPPORTED_ARCH=arm
ExecStart=/usr/bin/etcd  \
  --data-dir=/var/lib/etcd \
  --advertise-client-urls=http://master:{{ etcd.port }} \
  --listen-client-urls=http://master:{{ etcd.port }} \
  --listen-peer-urls=http://master:{{ etcd.peer_port }} \
  --name=etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
