[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=network.target docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet  \
  --api-servers=http://master:8080 \
  --allow-privileged=true \
  --pod_infra_container_image={{ images.pause }} \
  --config=/etc/kubernetes/manifests \
  --cluster-dns={{ dns.service_ip }} \
  --cluster-domain={{ dns.domain }} \
  --v={{ debug_level }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
